{% extends 'base.html.twig' %}

{% block title %}Edit Like{% endblock %}

{% block body %}
    <h1>Edit Like</h1>

    {{ include('like/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('like/_delete_form.html.twig') }}
{% endblock %}
