<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="mt-5 container">
        
            <div class="row">
                <div class="col-8 mx-auto mb-5">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/post/">Artículos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/comment/new">Comentar</a>
                        </li>
                    </ul>
                </div>

                <div class="col-8 m-auto">                
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
